
body{
  margin: 0;
  font-family: 'Raleway', sans-serif;

}
.container{
  width: 100vw;
  margin: 0;
  display: flex;
  /*align-items: center*/
  justify-content: center;
  background-color: black;
  position: relative;
}

img{
height: 800px;
width: 800px;

}
#email{
  height: 50px;
  width: 270px;
  position: absolute;
  top: 36%;
  left: 51%;
  opacity: 0.5;
  font-size: 20px;
  padding-left: 20px;
}

#password{
  height: 50px;
  width: 270px;
  position: absolute;
  top: 45%;
  left: 51%;
  opacity: 0.5;
  font-size: 20px;
padding-left: 20px;

}

.logIn{
  height: 55px;
  width: 300px;
  position: absolute;
  top: 54%;
  left: 51%;
  opacity: 0;
  background-color: black;
}

.logIn:hover{
  opacity: 0.2;


}
